#public net.minecraft.entity.passive.SheepEntity field_200206_bz # WOOL_BY_COLOR
public net.minecraft.world.entity.player.Player inventory # inventory
public net.minecraft.world.entity.npc.VillagerTrades$ItemsForEmeralds

#26.1.2
public net.minecraft.world.entity.player.Inventory items #Lnet/minecraft/core/NonNullList;s