#public net.minecraft.entity.passive.SheepEntity WOOL_BY_COLOR # WOOL_BY_COLOR
public net.minecraft.world.entity.player.Player inventory # inventory
#public net.minecraft.world.entity.npc.VillagerTrades$ItemsForEmeralds